<div class="row">
  <div class="container">
    <h1>Welcome on board!</h1>
    <p>
      To start please, fork this repo and read the instructions
      in the <a href="https://github.com/ConnectedHomes/ember-bootcamp-project/wiki" rel="noopener noreferrer">WIKI</a>!
    </p>
  </div>
</div>
{{outlet}}
